
.gn {
  color: #77bc1f !important;
}
h3 {
  font-size: 60px !important;
}
.qbox {
  box-sizing: border-box;
  overflow: hidden;
}

img {
  -khtml-box-shadow: 5px 5px 5px #69747d;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 4px #69747d;
  -webkit-box-shadow: 5px 5px 5px #69747d;
}

#imggg {
  box-shadow: 2px 2px 3px 4px  rgba(7, 120, 242, .9);
  border:1px solid #77bc1f !important;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  -moz-box-shadow: 5px 5px 5px #77bc1f;
  -webkit-box-shadow: 5px 5px 5px #77bc1f;
  -khtml-box-shadow: 5px 5px 5px #77bc1f;
}

.bottom {
  padding-top: 50%;
}
.italic {
  font-style: italic;
}
* {
  box-sizing: border-box
}

:root {
  --color-1: #442288;
  --color-2: #6ca2ea;
  --color-3: #b5d33d;
  --color-4: #fed23f;
  --color-5: #eb7d5b;
  --angle: 0deg;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 6vw;
  text-transform: uppercase;
  word-spacing: 100vw;
  background: linear-gradient(
  var(--angle),
  var(--color-1) 19%,
  transparent 19%,
  transparent 20%,
  var(--color-2) 20%,
  var(--color-2) 39%,
  transparent 39%,
  transparent 40%,
  var(--color-3) 40%,
  var(--color-3) 59%,
  transparent 59%,
  transparent 60%,
  var(--color-4) 60%,
  var(--color-4) 79%,
  transparent 79%,
  transparent 80%,
  var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important; 
  animation: 10s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
